.Carousel-start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    width: 75%;
}
.pictures {
  max-width: 500px;
  max-height: 500px;
  border-color: red;
  border-style: dotted;
  position: relative;
  
}

img{
    height: 100%;
    width: 100%;
}

.arrow {
    align-self: center;
    padding-inline: 2rem;
}

.caption {
    border-style: dotted;
    position: absolute;
    color: white;
    background-color: #000;
    opacity: .80;
    
    top: 0;
    left: 0;
    
}